/**Proyectos**/
  .hg-pro{
    min-height: 110vh;
  }
  .title-proy{
    color:  #2D2D2D;
    text-align: center;
    font-weight: 600;
    line-height: 42px; 
    font-size: clamp(1.5rem, 2rem + 1vw, 2.5rem);
  }
  
  /*-Proyecto-**/
  .cnt-imagen{
    min-width: 20rem;
  }
  .img-proyecto-size{
    max-width: 100%;
    display: block;
    transition: .3s;
    opacity: 0.9;
    backdrop-filter: blur(0px);
  }
  .img-proyecto-size:hover{
    opacity: 1;
    cursor: pointer;
    backdrop-filter: none;
    transform: scale(1.05);
  }
  .contenedor-titulo-skills h3{
    color: #2D2D2D;
    font-weight: 600;
    line-height: 20px;
    font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
  }
  .contenedor-titulo-skills p{
    color: #2D2D2D;
    font-weight: 500;
    line-height: 27px;
    opacity: 0.9;
    font-size: 0.9rem;
  }
  .btn-sitio{
    border: #ff8cde solid 1px;
    border-radius: 50px;
    padding: 0.7em;
    color: #ff8cde;
    font-weight: 600;
  }
  .btn-a a{
    text-decoration: none;
  }
  .btn-sitio:hover{
    transition: all .5s ease;
    filter: hue-rotate(1turn);
    background-color: #ff8cde;
    color: #FFFFFF;
  }

  /***mq****/

  @media (max-width: 1200px){
    .row-proy{
      flex-direction: column;
    }
    .hg-pro{
      padding: 5rem 2rem;
    }
  }
  @media (min-width: 1200px){
    .row-proy{
      flex-direction: row;
    }
  }
