/***skills***/
.row-skills{
    min-height: 19.375rem;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    padding: clamp(2em, 2.5em + 1vw, 3em);
    margin: 1em;
  }
  .icon-name{
    color: #2D2D2D;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    font-size: clamp(1.1rem, 1.125em + 1vw, 1.3rem);
  }
  .skill{
    font-size: clamp(2rem, 3.775em + 1vw, 5rem);
  }
