/**about**/
.row-about{
    height: 600px;
    background-color: #fbc2eb;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/src/assets/stars.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .flex-abt{
    display: flex;
    flex-direction: row;
    gap:70px;
    width: 780px;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 16px;
    padding: 55px;
  }
  .card-about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .img-about{
    width: 195px;
    border: 1.5px solid;
  }
  .text-abt, .text-bio{
    color: #2D2D2D;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    line-height: 1.8;
    text-align: left;
    opacity: 0.9;
  }
  .text-abt p{
    font-weight: 700;
    text-decoration-line: underline;
    margin-bottom: 0;
  }
  .text-abt span, .text-bio {
    font-weight: 400;
  }

   /***mq****/
   @media (width <  575.99px){
    .row-about{
      height:900px;
      background-repeat: repeat;
    }
    .flex-abt{
      flex-direction: column;
      width: 300px;
      gap:35px;
      padding:35px;
    }
    .text-bio{
      font-size: 13px;
    }

   }

   @media (min-width: 576px) and (max-width: 767.99px){
    .row-about{
      height:900px;
    }
    .flex-abt{
      flex-direction: column;
      width: 480px;
    }
  } 
   @media (min-width: 768px) and (max-width: 991.99px){
    .row-about{
      height:900px;
    }
    .flex-abt{
      flex-direction: column;
      width: 480px;
    }
    .text-bio{
      font-size: 15px;
      }
    }
  