/***header**/
.row-header{
    display: flex;
    align-content: center;
    width: 100%;
    height: 624px;
  }
  .text-hd{
    font-family: Epilogue;
    color: var(--Black, #2D2D2D);
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  .text-hd span{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    opacity: 0.9;
  }
  .text-hd h1{
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
  }
  .text-hd p{
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 27px;
  }
  .img-hd{
    width: 100%;
    height: auto;
    animation: updown 3s linear infinite;
  }
  @keyframes updown{
    0%{
      transform: translateY(-20px);
    }
    50%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(-20px);
    }
  
  }
  /*btn descargar*/
  .btn-des {
      padding: 20px;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; 
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 50px;
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
   }
   .btn-des:hover {
    background-position: right center;
    cursor: pointer; 
  }



/**mq***/

@media (min-width: 576px) and (max-width: 767.99px){
  .row-header{
    height: 400px;
  }
  .text-hd h1{
    font-size: 34px;
    line-height: 45px;
  }
  .text-hd{
    gap:15px;
  }
  .text-hd span{
    font-size: 1rem;
    line-height: 15px;
  }
  .btn-des{
    padding:10px;
    font-size:0.8rem;
  } 
}

@media (min-width: 768px) and (max-width: 991.99px){
  .row-header{
    height: 500px;
  }
  .text-hd h1{
    font-size: 45px;
    line-height: 50px;
  }
  .text-hd span{
    font-size: 1rem;
    line-height: 15px;
  }
  .btn-des{
    padding:12px;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .text-hd h1 {
    font-size: 60px;
    line-height: 70px;
  }
  }
  