/***header**/
.row-header{
    min-height: 100vh;
    gap:2rem;
  }
  .text-hd{
    color: #2D2D2D;
  }
  .text-hd span{
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.9;
  }
  .text-hd h1{
    font-weight: 600;
    line-height: 1.5;
  }
  .text-bio{
    color: #2D2D2D;
    line-height: 1.8;
    text-align: left;
    opacity: 0.9;
  }
  
  /*btn descargar*/
  .btn-des {
      padding: 1rem;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; 
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 50px;
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
   }
   .btn-des:hover {
    background-position: right center;
    cursor: pointer; 
  }

/**mq***/
@media (width < 575.99px){  
  .text.hd span{
    font-size: 0.875em;
  }
  .text-hd h1{
    font-size: 2.275em;
  }
  .text-bio{
    font-size: 0.775em;
    text-wrap: balance;  
  }
  .btn-des{
    font-size: 0.775em;
  }
 }

@media (min-width: 576px) and (max-width: 767.99px){
  .text.hd span{
    font-size: 0.9em;
  }
  .text-hd h1{
    font-size: 2.375em; 
  }
  .text-bio{
    font-size: 0.8em;
    text-wrap: balance;  
  }
  .btn-des{
    font-size: 0.7em; 
  }
}

@media (min-width: 768px) and (max-width: 991.99px){
  .text.hd span{
    font-size: 1em;
  }
  .text-hd h1{
    font-size: 2.813em;
  } 
  .text-bio{
    font-size: 0.9em;
    text-wrap: balance;  
  }
  .btn-des{
    font-size: 0.8em; 
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
  .text.hd span{
    font-size: 1.25em;
  }
  .text-hd h1{
    font-size: 3.75em; 
  }
  .text-bio{
    font-size: 1em;
    text-wrap: balance; 
  }
  .btn-des{
    font-size: 0.8em;
  }
}
  
@media (width > 1200px){
  .row-header{
    gap:0;
  }
  .text.hd span{
    font-size: 1.25em;
  }
  .text-hd h1{
    font-size: 4em; 
  }
  .text-bio{
    font-size: 1.125em;
  }
  .btn-des{
    font-size: 1em;
  }
}