/**footer**/
  .row-footer{
    min-height: 50em;
    background-color: #fbc2eb;
    background-image: url(/src/assets/stars.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .gap-ftr{
    flex-direction: column;
    justify-content: center;
    min-width: 80vw;
  }
  .card-footer{
    gap: 1.25rem;
    background-color: whitesmoke;
    border-radius: 1em !important;
    max-width: 25.35rem;
    margin-inline:auto;
    padding: 2.8em;
  }
  .card-text{
    color: #2D2D2D;
  }
  .card-text h2{
    font-weight: 600;
    line-height: 42px;
  }
  .card-text p{
    font-weight: 400;
    line-height: 1.8;
    text-wrap: balance;
  }
  .hover-icn {
    color: #000000;
    transition: all .5s ease;
    cursor: pointer;
  }
  .hover-icn:hover {
    color: #ff8cde;
    filter: hue-rotate(1turn);
  }
  .input-footer input, .text-area{
    display: flex;
    width: 100%;
    padding: 21px 30px;
    align-items: flex-start;
    gap: 10px;
    background: #F3F3F3;
    border: none;
    color: #2D2D2D;
    font-weight: 400;
    line-height: 27px;
  }
  .text-area{
    height: 14.438rem;
  }
  .Modal-text{
    text-align: center;
  }
  .Modal-flex-img{
    padding: 20px;  
  }
  .Modal-flex-img img{
    width: 100px;
  }
  .btn-form{
    padding: 1.263em 3.125em;
    background-color: #2D2D2D;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    border: none;
    transition: .3s all ease;
  }
  .btn-form:hover{
    background-color: #2d2d2de3;
  }
  form{
    max-width: 22.35rem;
    margin-inline:auto;
  }

  /**mq**/
  @media (width < 575.99px){
    .card-text h2{
      font-size:1.3em;
    }
    .fs-icon{
      font-size: 1.5em;
    }
    .input-footer input, .text-area, .card-text p{
      font-size: 0.8em; 
    }
    .btn-form{
      font-size: 0.8em;
    }
    .card-footer{
      padding:1.5em;
    }
  }
  @media (min-width: 576px) and (max-width: 767.99px){
    .card-text h2{
      font-size: 1.4em;
    }
    .fs-icon{
      font-size: 1.6em;
    }
    .input-footer input, .text-area, .card-text p{
      font-size: 0.8em; 
    }
    .btn-form{
      font-size: 1em;
    }
  }

  @media (min-width: 768px) and (max-width: 991.99px){
    .gap-ftr {
      flex-direction: row;
      gap: 0px !important; 
    }
    .card-text h2{
      font-size:1.5em;
    }
    .fs-icon{
      font-size: 1.8em;
    }
    .input-footer input, .text-area, .card-text p{
      font-size: 0.9em; 
    }
    .btn-form{
      font-size: 1.25em;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.99px) {
    .gap-ftr {
      flex-direction: row;
      gap: 0px !important; 
    }
    .card-text h2{
      font-size:1.6em;
    }
    .fs-icon{
      font-size: 2em;
    }
    .input-footer input, .text-area, .card-text p{
      font-size: 1em; 
    }
    .btn-form{
      font-size: 1.25em;
    }
   }
  @media (min-width: 1200px) and (max-width: 1399.99px) {
    .gap-ftr {
      flex-direction: row;
      gap: 0px !important; 
    }
    .card-text h2{
      font-size:1.5em;
    }
    .fs-icon{
      font-size: 2em;
    }
    .input-footer input, .text-area, .card-text p{
      font-size: 1em; 
    }
    .btn-form{
      font-size: 1.25em;
    }
  } 