#root {
  background: #FFFFFF;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***nav**/
.row-nav{
  height: 80px;
  display: flex;
  align-content: center;
}
.logo{
  color: var(--Black, #2D2D2D);
  font-family: Epilogue;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.flex-nav{
  display: flex;
  justify-content: end;
}
.nav-ul{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.nav-ul a{
  color: var(--Black, #2D2D2D);
  font-family: Epilogue;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

/***header**/
.row-header{
  display: flex;
  align-content: center;
  width: 100%;
  height: 624px;
}
.text-hd{
  font-family: Epilogue;
  color: var(--Black, #2D2D2D);
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.text-hd span{
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
}
.text-hd h1{
  font-size: 5rem;
  font-weight: 600;
  line-height: 90px;
}
.text-hd p{
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 27px;
}
.img-hd{
  width: 100%;
  height: auto;
}
/*btn descargar*/
.btn-des {
    padding: 12px 22px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; 
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 16px;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
 }
 .btn-des:hover {
  background-position: right center;
  cursor: pointer; 
}

/***skills***/
.row-skills{
  padding: 60px 0px;
  border-top: 2px solid rgba(0, 0, 0, 0.20);
  border-bottom: 2px solid rgba(0, 0, 0, 0.20);
}
.flex-skills{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**Proyectos**/
.hg-pro{
  height: 688px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:60px;
}
.title-proy{
  color: var(--Black, #2D2D2D);
  text-align: center;
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; 
}
.row-proy{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
} 

/*-Proyecto-**/

.contenedor-card{
  display: flex;
  flex-direction: column;
  gap: 25px; 
}
.img-proyecto-size{
  width: 400px;
  transition: .3s;
  opacity: 0.9;
  backdrop-filter: blur(0px);
}
.img-proyecto-size:hover{
  opacity: 1;
    cursor: pointer;
    backdrop-filter: none;
    transform: scale(1.05);
}
.contenedor-info-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contenedor-titulo-skills{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.contenedor-titulo-skills h3{
  color: var(--Black, #2D2D2D);
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.contenedor-titulo-skills p{
  color: var(--Black, #2D2D2D);
  font-family: Epilogue;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.btn-links{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.btn-sitio{
  border: #2D2D2D solid 1px;
  padding: 6px 12px;
  border-radius: 18px;
}
.btn-sitio a{
  color: #2D2D2D;
  text-decoration: none;
}
/**about**/
.row-about{
  height: 600px;
  background-color: #fbc2eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-abt{
  display: flex;
  flex-direction: row;
  gap:70px;
  width: 780px;
  align-items: center;
}
.card-about{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.img-about{
  width: 195px;
}
.text-abt, .text-bio{
  color: var(--Black, #2D2D2D);
  font-family: Epilogue;
  font-size: 17px;
  font-style: normal;
  line-height: 27px;
}
.text-abt p{
  font-weight: 700;
  text-decoration-line: underline;
  margin-bottom: 0;
}
.text-abt span, .text-bio {
  font-weight: 400;
}

@media (width < 992px){
  
  .nav-ul{
    display: none;
  }
  
}
@media (width > 992px){
  .menu{
    display: none;
  }
}