#root {
  background-image: linear-gradient(to bottom, #fdfbfb 50%, #FBC2EB 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Epilogue;
  margin-inline:auto;
}
.row-nav, 
.row-header,
.row-skills,
.row-footer {
  padding: 2em;
}
