/***nav**/
.row-nav{
    height: 80px;
    display: flex;
    align-content: center;
  }
  .logo{
    color: var(--Black, #2D2D2D);
    font-family: Epilogue;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  .flex-nav{
    display: flex;
    justify-content: end;
  }
  .nav-ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .nav-hm{
    display: flex;
    flex-direction: column;
    gap:25px;
  }
  .nav-hm a {
    font-size: 22px;
  }
  .nav-hm a li{
    list-style-type: none;
  }
  .nav-ul a{
    font-size: 17px;
  }
  .nav-ul a, .nav-hm a{
    color: #2D2D2D;
    font-family: Epilogue;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    transition: all .5s ease;
    filter: hue-rotate(1turn); 
  }
  .nav-ul a:hover{
    color: #ff8cde;
  }

  /**mq**/
  @media (width < 575.99px){
    .nav-ul{
      display: none;
    }
    .row-nav{
      padding:20px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    .menu{
      display: none;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    .menu{
      display: none;
    }
  }