/***nav**/
  .row-nav{
    min-height: 80px;
  }
  .logo{
    color: #2D2D2D;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
  }
  .nav-ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
  }
  .nav-hm a li, .nav-ul a li{
    list-style-type: none;
  }
  .nav-ul a, .nav-hm a{
    color: #2D2D2D;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none !important;
    transition: all .5s ease;
    filter: hue-rotate(1turn); 
  }
  .nav-ul a:hover{
    color: #ff8cde;
  }
  .logo{
    font-size: 1.75em; 
  }
  .nav-hm a {
    font-size: 1.375em;
  }
  .nav-ul a{
    font-size: 1.063em;
  }

  /**mq**/ 
  @media (width < 576px) {
    .nav-ul{
      display: none;
    }
  }

@media (min-width: 576px) and (max-width: 767.99px){
  .nav-ul{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.99px){
  .menu{
    display: none;
  }
}

@media (min-width: 992px) and (max-width:1199.99px){
  .menu{
    display: none;
  }
}

@media (width > 1200px){
  .menu{
    display: none;
  }
}